@page
@model Ekay.Api.Source.CorreoModel
@{
}

<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
" +
                   "
<html xmlns='http://www.w3.org/1999/xhtml'>
 " +
                   "
<head>
	" +
	"
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />" +
	"
	<title>Avisos</title>" +
	"
</head>" +
                   "
<body>
	" +
	"<table cellpadding='0' cellspacing='0' border='0' width='500'>
		" +
		"
		<tr>
			" +
			"
			<td height='30' width='500'><img src='https://i.postimg.cc/s2JNwQdV/Banner-Ekay-2.png' /></td>" +
			"
		</tr>" +
		"
		<tr>
			" +
			"
			<td height='30'><font face='Arial' size='2' align='justify'><b>[[Nombre_Firmante]]</b></font></td>" +
			"
		</tr>" +
		"
		<tr>
			" +
			"
			<td height='30'><font face='Arial' size='2' align='justify'>"Usted ha sido referido por una compañia o por un tercero, como el firmante de un documento  en nuestra plataforma. Recuerde tener sus archivos .key y .cer ya que son necesarios para completar dicha firma. Para firmar pulse en el siguiente enlace:"</font></td>" +
			"
		</tr>" +
		"
		<tr>
			" +
			"
			<td height='30'><font face='Arial' size='2' color='#FF0000'>[[Url_Docto]]</font></td>" +
			"
		</tr>" +
		"
		<tr>
			" +
			"
			<td height='30'><font face='Arial' size='2'><b>Att. -El equipo de E-Kay.</b></font></td>" +
			"
		</tr>" +
		"
	</table>" +
	"
</body>" +
                   "
</html>";